.main-nav__list {
  @include list-reset;
}

.main-nav__item:not(:last-of-type) {
  border-bottom: 1px solid $color-gray;
}

.main-nav__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: $color-text;

  cursor: pointer;
}

.main-nav__link:hover,
.main-nav__link:focus {}

.main-nav__link.active {}

@media (min-width: $desktop_xs) {
  .main-nav__list {
    display: flex;
    justify-content: flex-end;
  }

  .main-nav__item {
    position: relative;
  }

  .main-nav__item:not(:last-of-type) {
    border: none;
  }

  .main-nav__link {
    padding: 10px 15px;
    transition: 0.2s color linear, 0.2s background-color linear;
  }

  .main-nav__link:hover,
  .main-nav__link:focus,
  .main-nav__link.hover,
  .main-nav__link.active {
    color: #ffffff;
    background-color: $color-accent;

    .submenu__icon:after {
      border-right: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff;
    }
  }

  .main-nav__link:hover,
  .main-nav__link:focus,
  .main-nav__link.hover {
    .submenu__icon:after {
      transform: rotate(-135deg);
    }
  }
}