.main-nav__list {
  @include list-reset;
}

.main-nav__item:not(:last-of-type) {
  border-bottom: 1px solid rgba($color-light-gray, 0.3);
}

.main-nav__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: $color-text;

  cursor: pointer;
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: $color-accent;
}

.main-nav__link.active {
  color: $color-accent;
}

@media (min-width: $desktop_xs) {
  .main-nav__list {
    display: flex;
    justify-content: flex-end;
    margin-right: -15px;
  }

  .main-nav__item {
    position: relative;
  }

  .main-nav__item:not(:last-of-type) {
    border: none;
    // margin-right: 10px;
  }

  .main-nav__link {
    height: 60px;
    padding: 10px 15px;
    transition: 0.2s color linear, 0.2s background-color linear;
  }

  // .main-nav__link:hover,
  // .main-nav__link:focus,
  .main-nav__link.has-submenu.isOpen {
    color: #ffffff;
    background-color: $color-accent;
    // cursor: default;

    .submenu__icon:after {
      border-right: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff;
    }
  }

  .main-nav__link.isOpen {
    .submenu__icon:after {
      transform: rotate(-135deg);
    }
  }
}

@media (min-width: $desktop_s) {
  .main-nav__item:not(:last-of-type) {
    margin-right: 15px;
  }
}