.search__area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f7f7;
}

.search {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 3px 7px 0 rgba(0,0,0,.15);
}

.search__input {
  height: 85px;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

.search__close-btn {
  position: relative;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 1px solid $color-light-gray;
  border-radius: 50%;
  transition: 0.2s transform linear, 0.3s border-color linear;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: $color-light-gray;
    transition: 0.3s background-color linear;
  }

  &::before {
    width: 60%;
    height: 1px;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    width: 1px;
    height: 60%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.search__close-btn:hover,
.search__close-btn:focus {
  // transform: translateY(-50%) scale(1.1);
  border-color: $color-accent;
  outline: none;
  cursor: pointer;

  &::before,
  &::after {
    background-color: $color-accent;
  }
}

@media (min-width: $desktop_s) {
  .search__close-btn {
    right: 60px;
  }
}