.submenu {
  @include list-reset;
  padding-top: 5px;
  padding-bottom: 30px;
  display: none;
}

.submenu__icon {
  position: relative;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.2s linear;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-text;
    transform-origin: center;

    transition: 0.3s transform;
  }

  &::before {
    width: 9px;
    height: 2px;
  }

  &::after {
    width: 2px;
    height: 9px;
  }
}

.submenu__icon.isOpen {
  background-color: rgba($color-light-gray, 0.3);

  &::before {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.submenu__item {
  margin-bottom: 12px;
}

.submenu__link {
  color: $color-text;
  text-decoration: none;
}

@media (min-width: $desktop_xs) {
  .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    min-width: 100%;
    padding: 15px;
    padding-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.15);
  }

  .submenu__icon {
    width: 13px;
    height: 13px;
    background-color: transparent;

    // &::before{
    //   display: none;
    // }

    // &::after {
    //   width: 70%;
    //   height: 70%;
    //   border-right: 1px solid $color-text;
    //   border-bottom: 1px solid $color-text;
    //   border-left: 1px solid transparent;
    //   border-top: 1px solid transparent;
    //   background-color: transparent;
    //   // transform-origin: bottom center;
    //   transform: rotate(45deg) translate(-50%, -50%);

    //   transition: 0.2s border linear, 0.2s transform linear;
    // }

    &::before,
    &::after {
      width: 61%;
      height: 1px;
      background-color: #666;

      transition: all 1s cubic-bezier(.25,1.7,.35,.8);;
    }

    &::before {
      left: 0;
      background-color: #666;
      transform: rotate(35deg);
    }

    &::after {
      right: 0;
      transform: rotate(-35deg);
    }
  }

  .submenu__link {
    font-size: 16px;
    text-decoration: underline;
    transition: color 0.2s linear;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $color-accent;

    }
  }

  .submenu__icon.isOpen {
    &::before,
    &::after {
      background-color: #ffffff;
    }

    &::before {
      left: 0;
      transform: rotate(-35deg);
    }

    &::after {
      right: 0;
      transform: rotate(35deg);
    }
  }
}