.hamburger-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 31px;
  height: 30px;
  padding: 3px;
  border: none;
  background-color: transparent;
  outline: none;

  cursor: pointer;
}
